* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;
    height: 100vh;
    display: flex;
}

.wrapper {
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 50%;
    display: flex;
}

.container {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: white;
    margin: auto;
    display: flex;
}

.edge {
    position: absolute;
    background: black;
}

#top {
    top: 0%;
    left: 50%;
    height: 12px;
    width: 4px;
    margin-top: -24px;
    margin-left: -2px;
}

#bottom {
    top: 100%;
    left: 50%;
    height: 12px;
    width: 4px;
    margin-top: 24px;
    margin-left: -2px;
}

#left {
    height: 4px;
    width: 12px;
    top: 50%;
    left: 0%;
    margin-top: -2px;
    margin-left: -24px;
}

#right {
    height: 4px;
    width: 12px;
    top: 50%;
    left: 100%;
    margin-top: -2px;
    margin-left: 24px;
}

#middle {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -8px;
    margin-left: -8px;
    z-index: 1;
}

#hr {
    top: 50%;
    left: 50%;
    height: 120px;
    width: 7px;
    border-radius: 30%;
    margin-left: -3.5px;
    transform: rotate(180deg);
    transform-origin: top;
}

#min {
    top: 50%;
    left: 50%;
    height: 135px;
    width: 5px;
    background: red;
    border-radius: 30%;
    margin-left: -2.5px;
    transform: rotate(60deg);
    transform-origin: top;
}

#sec {
    top: 50%;
    left: 50%;
    height: 150px;
    width: 3px;
    background: yellowgreen;
    border-radius: 30%;
    margin-left: -1.5px;
    transform: rotate(36deg);
    transform-origin: top;
    /* animation: clock 1s infinite; */
}

/* @keyframes clock {
    0% {
        transform: rotate(6deg);
        transform-origin: top;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: top;
    }
} */

span {
    height: max-content;
    width: max-content;
    padding: 10px;
    font-size: 22px;
    margin: auto;
    margin-top: 35px;
    background-color: lightgray;
    border-radius: 39%;
}