* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background: lightgray;
}

.wrapper {
    margin: auto;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background: lightgray;
    display: flex;
}

.content {
    margin: auto;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: white;
    display: flex;
    position: relative;
}

/* .middle {
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: greenyellow;
} */

.edge {
    width: 3px;
    height: 3px;
    /* border-radius: 100%; */
    background: skyblue;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
}

#top {
    top: -15%;
    left: 50%;
    height: 15px;
}

#bottom {
    top: 113%;
    left: 50%;
    height: 15px;
}

#left {
    top: 50%;
    left: -15%;
    width: 15px;
}

#right {
    top: 50%;
    left: 113%;
    width: 15px;
}

#middle {
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

/* .sui {
    position: relative;
} */

.hr {
    width: 5px;
    height: 150px;
    border-radius: 10%;
    background: #000;
    /* height: 100px;
    width: 100px; */
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.min {
    width: 5px;
    height: 150px;
    border-radius: 10%;
    background: green;
    /* position: absolute;
    left: 50%;
    margin: auto; */
}

.sec {
    width: 5px;
    height: 150px;
    border-radius: 10%;
    background: red;
    /* position: absolute;
    left: 50%;
    margin: auto; */
}