* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: greenyellow;
    display: flex;
}

.box {
    height: 35px;
    width: 35px;
    background: orangered;
    margin: 10px;
}

.black {
    background: #000;
}